#content {
  margin: auto;
  padding: 10px;
  border: 5px solid black;
  width: 800px;
  height: 20009px;
  background-color: #FF1493;
  float: inherit;
  }

#headerBox {
  text-align: center;
  font-size: 20px;
  font-family: "Monospace", Monospace;
}


.paraBox {
  border: 2px solid black;
  width: 1200px;
  float: center;
  font-family: "Monospace", 	Courier New;
  font-style: 	Courier New;
  color: 333333;
  text-shadow: 2px black;
  font-size: 15px;
  margin: 35px; }

  .blogBox {
    border: 2px solid black;
    width: 50;

    float: center;
    font-family: "Arial", 	Courier New;
    font-style: Courier New;
    color: 333333;
    text-shadow: 2px black;
    font-size: 30px;
    margin: 30px;
    overflow: auto;
    }
p {
  text-align: center;
}
img {
  width: 537px;
  margin: 0 auto;
}
